<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.libConnectionString"
            connectionString="Data Source=DESKTOP-G9B04M1;Initial Catalog=lib;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.libConnectionString1"
            connectionString="Data Source=DESKTOP-F2HI177;Initial Catalog=lib;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>